@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900");

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

body {
	padding: 0;
	justify-content: stretch;
	align-items: center;
	display: flex;
	background-image: linear-gradient(0deg, #252942 4%, #6988a5 100%);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	line-height: 1.6;
	-webkit-font-rendering: antialiased;
	font-family: "Source Code Pro";
}

#root {
	margin-top: 10em;
	width: 100%;
}

.inner-modal {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #f3ece2;
	-webkit-transition:
		all 350ms cubic-bezier(0.680,
		-0.550,
		0.265,
		1.18);
}

.inner-modal-open {
	position: fixed;
	height: 800%;
	width: 300%;
	border-radius: 3px;
	margin-top: -110%;
	margin-left: -100%;
	-webkit-box-shadow:
		10px 10px 10px -8px rgba(0, 0, 0, 0.3);
	-webkit-transition:
		all 300ms cubic-bezier(0.680,
		-0.165,
		0.265,
		1.55);
}

.content-wrapper {
	padding: 20px;
	text-align: center;
	visibility: visible;
	opacity: 0;
	-webkit-transition: all .2s;
}

.content-open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .3s ease-out 350ms;
}

.fa-times-circle {
	z-index: 4000;
	font-size: 35px;
	color: #2c3e32;
	float: right;
	transition: opacity .3s;
	cursor: pointer;
}

.fa-times-circle:hover {
	animation: pulse2 .3s 2;
}


@keyframes pulse {
	0% {
		transform: scale(1);
	}

	35% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(1);
	}

	35% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


// .modal-content {
// 	position: absolute;
// 	width: 10px;
// 	height: 10px;
// 	background-color: white;
// 	border-radius: 0.5rem;
// 	transition: 1s all;
// 	margin: 0 auto;
// }

// .modal-content-open {
// 	// transform: translate(-50%);
// 	padding: 10px;
// 	width: 500px;
// 	height: 500px;
// 	left: 50%;
// 	top: 20%;
// }

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1100;
	transition:
		all 300ms cubic-bezier(0.680,
		-0.165,
		0.265,
		1.55);
}

.square {
	width: 5rem;
	height: 5rem;
}

.full-screen-square {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1100;
}
